.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
}

.mainNav {         /* làm gốc cho absolute */
  display: flex;
  align-items: center;
  background-color: rgb(224, 70, 70);
  padding: 5px 15px;
  margin-bottom: 40px;
}

.searchBox {
  padding: 5px 10px;
  position: relative;           /* giữ nguyên vị trí bên trái */
  z-index: 1;                   /* nằm trên nếu cần */
}

.mainNav ul {
  position: absolute;           /* thoát khỏi luồng flex */
  left: 50%;                    /* đưa điểm giữa ul ra giữa nav */
  transform: translateX(-50%);  /* dịch ngược nửa chiều rộng => đúng giữa */
  display: flex;
  list-style: none;
  padding: 0;
}

.mainNav li {
  padding: 20px;
}

.mainNav a {
  text-decoration: none;
  color: white;
}
.mainBody {
  display: flex;
  gap: 20px;
}
.left-Content {
  flex: 1;
}
.main-Content {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center; /* căn dọc nếu muốn */
  flex-direction: column;
}
.main-Content img {
  width: 80%; /* ảnh chiếm hết chiều ngang container */
  height: auto;
}
.right-Content {
  flex: 1;
}
